.container{
    width:100%;
    max-width: 1728px;
    margin:auto;
    font-family: 'Poppins';
}
*{
    box-sizing:border-box;
}
body{
    margin:0;
}
ul{
    list-style:none;
    font-weight: 400;
    font-size:14px;
    line-height: 21px;
    margin-left:300px;
}
.samsung{
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.samsung_phone{
    display:flex;
 
    
}
.samsung_screen{
    display:flex;
    justify-content: space-between;
}
ul li {
    margin-left:80px;
}
.back{
    background-image:url(./images/image\ 1.png);
    background-size:cover;
    background-repeat: none;
    background-position: center;
    height:1080px;
}
h1{
    font-size:70px;
    line-height: 105px;
    font-weight: 600;
    display:flex;
    align-items:center;
}
.car h1{
    height:875px;
}
.left{
    background-image:url(./images/image\ 5.png);
    background-repeat: none;
    background-position:center;
    background-size:cover;
    width:864px;
    height: 486px;
}
h2{
    line-height: 36px;
    font-size:30px;
    font-weight: 600;
    color:rgba(255, 255, 255, 1);
    width:309px;
    height:72px;
    margin-left:30px
}
.rigth{
    background-image:url(./images/image\ 6.png);
    background-repeat: none;
    background-position:center;
    background-size:cover;
    width:864px;
    height: 486px;
}
h3{
    line-height: 36px;
    font-size:30px;
    font-weight: 600;
    color:rgba(255, 255, 255, 1);
    width:309px;
    height:72px;
    text-align:right;
}
.face_2{
    display:flex;
}
